/* src/styles/globals.css */
@import "tailwindcss";
@import "tw-animate-css";

:root {
  --vh: 100vh; /* iOS 100 vh 보정 */
}

html,
body {
  height: calc(var(--vh));
  margin: 0;
  padding: 0;

  /* 가로·대각선 바운스 차단 */
  overflow-x: hidden;
  overscroll-behavior: none; /* rubber‑band 방지 */
}

/* 루트 컨테이너 */
#root,
.app {
  height: 100%; /* 이미 위에서 vh 적용했으므로 100% */
}
